html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.nav {
  z-index: 99;
  background-color: rgba(255,255,255,1);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

.fixed {
  position: fixed;
  top: 0;
}

.header-hide {
  position: fixed;
  top: -80px;
}

.content {
  margin: 0 auto;
  max-width: 1380px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#longi_logo {
  width: 204px;
  line-height: 55px;
}

.hidden-nav {
  display: none;
  cursor: pointer;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav_item {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 0 10px;
  padding: 15px 10px;
  line-height: 50px;
}

.nav_item::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: rgba(51,51,51,.7);
  border-radius: 5px 5px 0 0;
  height: 4px;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
}

.nav_item:not(.is-active):hover::after {
  opacity: 1;
  bottom: 0px;
}

.nav_under {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 4px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  transition: 0.4s;
}

.sec_1 {
  box-sizing: border-box;
  height: calc(100vh);
  width: 100%;
  padding-top: 80px;
  background: url("/images/bg2.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sec1_title {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sec1_title > h2,
.sec1_title > h4 {
  color: #e60012;
  -webkit-text-stroke: 2px #fff;
   /* 描边宽度和颜色 (WebKit 内核浏览器) */
  text-stroke: 2px #fff;  
  /* 描边宽度和颜色 (非-WebKit 内核浏览器)*/
  font-weight: 800;
}

.sec1_title > h2 {
  font-size: 45px;
}

.sec1_title > h4 {
  font-size: 35px;
}

.sec_2,
.sec_3,
.sec_4,
.sec_5 {
  position: relative;
  background-color: #f9f9f9;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sec2_container,
.sec3_container,
.sec_4_container,
.sec_5_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
}

.sec2_title,
.sec3_title,
.sec4_title,
.sec5_title {
  position: relative;
  text-align: center;
  color: #000;
  max-width: 1280px;
  margin: 0 auto;
}

.sec2_title > h3,
.sec3_title > h3,
.sec4_title > h3,
.sec5_title {
  font-size: 35px;
  font-weight: 500;
}

.sec2_title::after,
.sec3_title::after,
.sec4_title::after,
.sec5_title::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 50%;
  height: 2px;
  width: 10%;
  background-color: rgba(255, 0, 0, 0.7);
  transform: translateX(-50%);
}

.sec2_box {
  max-width: 1280px;
  margin: auto 0;
  padding: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
}

.icon {
  box-sizing: border-box;
  padding: 20px;
  transition: all 0.5s;
}

.icon:not(:last-child) {
  margin-right: 70px;
}

.icon_box_1,
.icon_box_2,
.icon_box_3,
.icon_box_4 {
  height: 280px;
  width: 226px;
  background-image: linear-gradient(180deg, #f6f6f6, #fff);
  box-shadow: 8px 8px 20px rgba(55, 99, 170, 0.1), -8px -8px 20px #fff;
  border-radius: 4px;
  padding: 20px 0 80px;
  overflow: hidden;
}

.icon_1,
.icon_2,
.icon_3,
.icon_4 {
  position: relative;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
}

.icon_1_text,
.icon_2_text,
.icon_3_text,
.icon_4_text {
  overflow: hidden;
  color: #000;
  font-weight: 300;
  /* text-align: center; */
  height: 0px;
  opacity: 0;
  transition: all 0.5s;
  padding: 40px 15px;
}

.icon_box_1:hover > .icon_1,
.icon_box_1:hover > .icon_1 > svg,
.icon_box_2:hover > .icon_2,
.icon_box_2:hover > .icon_2 > svg,
.icon_box_3:hover > .icon_3,
.icon_box_3:hover > .icon_3 > svg,
.icon_box_4:hover > .icon_4,
.icon_box_4:hover > .icon_4 > svg {
  height: 0px;
}

.icon_box_1:hover > .icon_1_text,
.icon_box_2:hover > .icon_2_text,
.icon_box_3:hover > .icon_3_text,
.icon_box_4:hover > .icon_4_text {
  height: fit-content;
  opacity: 1;
}

.icon_1::after {
  content: "专业研发团队";
  position: absolute;
  bottom: -35px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 500;
}

.icon_2::after {
  content: "智能化解决方案";
  position: absolute;
  bottom: -35px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 500;
}

.icon_3::after {
  content: "高质量产品";
  position: absolute;
  bottom: -35px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 500;
}

.icon_4::after {
  content: "优质售后服务";
  position: absolute;
  bottom: -35px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 500;
}

.sec2_content {
  max-width: 1280px;
  height: fit-content;
  color: #000;
  margin: auto 0;
  padding: 20px;
  text-align: center;
}

.sec3_box {
  max-width: 1280px;
  position: relative;
  margin: auto 0;
  padding: 80px;
}

.sec3_card {
  height: 420px;
  width: 300px;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(55, 99, 170, 0.1), -5px -5px 15px #fff;
  border-radius: 4px;
  padding: 15px 25px;
  overflow: hidden;
}

.sec3_card_content {
  position: relative;
  text-align: center;
  color: #000;
}

.sec3_card_content::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  height: 2px;
  width: 30%;
  background-color: red;
}

.sec3_card_dev {
  width: 100%;
  height: 100%;
}

.sec3_device_info {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  height: 260px;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.sec3_more {
  position: absolute;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  text-decoration: underline;
  color: rgba(230, 0, 18, 1);
}

.sec3_card:hover > .sec3_device_info {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
  transform: translateY(-100%);
}

.sec3_moveButton {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: 0 0;
  border: rgba(153, 153, 153, 1) solid 1px;
  width: 50px;
  height: 120px;
}

.sec3_svgBtn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sec3_svgBtn:hover {
  opacity: .6;
}

#scrollLeftButton {
  left: 0;
}

#scrollRightButton {
  right: 0;
}

.sec3_scrolling-wrapper-flexbox {
  position: relative;
  background-color: #f9f9f9;
  z-index: 10;
  padding: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .sec3_card {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.sec4_box {
  max-width: 1280px;
  position: relative;
  margin: auto 0;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  overflow: hidden;
}

.sec4_case_group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}

.link_title {
  color:#000;
  cursor: pointer;
  text-decoration: none;
}

.link_title:hover {
  color:#333;
  text-decoration: underline;
}

.sec4_case_info {
  width: 50%;
}

.sec4_case_img {
  width: 50%;
}

.link_img > img {
  transition: all .3s;
}

.link_img:hover > img{
  transition: all .3s;
  transform: scale(1.08);
}

.sec4_more {
  color: red;
  float: right;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

.sec3_more:hover  , .sec4_more:hover {
  opacity: .7;
}

.sec5_box {
  max-width: 1280px;
  position: relative;
  margin: auto 0;
  padding: 80px 40px;
}

.sec5_news {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec5_liveNews , .sec5_oldNews {
  width: 49%;
  padding: 20px;
}

.sec5_liveTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 10px;
}

.sec5_oldNews > ul {
  padding: 0;
  margin: 0;
}

.newsList {
  padding: 10px;
  border-radius: 4px;
  transition: all .3s;
}

.newsList:hover {
  background-color: #e6e6e6;
  box-shadow: 8px 8px 20px rgba(255,255,255,.1);
  /* box-shadow: 8px 8px 20px rgba(55, 99, 170, 0.1), -8px -8px 20px #fff; */
}

.newsList::marker {
  color: red;
}

.footer_container {
  background-color: #333;
  border-bottom: 2px solid rgba(255,255,255,.2);
}

.footer_main {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 100%;
  width: 2px;
  background-color: rgba(230,230,230,.6);
}

.footer_group {
  color: #fff;
  width: 168px;
  margin-right: 38px;
}

.footer_nav_title {
  position: relative;
  color: #fff;
  font-size: 20px;
  font: 500;
  padding: 15px 0;
}

.footer_nav_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 30%;
  background-color: #e60012;
}

.footer_nav_item {
  cursor: pointer;
  margin-top: 16px;
}

.footer_nav_item:hover {
  text-decoration: underline;
}

.footer_main_mobile {
  display: none;
  padding: 20px 24px;
}

.dropdown-toggle {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,.2);
}

.footer_mob_title {
  font-weight: 500;
}

.footer_mob_link_collapse {
  /* display: none; */
  overflow: hidden;
  height: 0;
  transition: all .3s ease-in-out;
}

.footer_mob_link_item {
  color: #fff;
  padding: 10px;
  margin-top:5px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.footer_aside {
  position: relative;
}

.footer_logo {
  margin-bottom: 40px;
  width: 240px;
  height: 35px;
}

.footer_qrCode {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 121px;
  height: 121px;
}

.footer_qrCode::after {
  content: '手机访问公众号';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.footer_bottom {
  background-color:#333;
  padding: 20px;
}

.footer_btm_container {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}

.footer_bottom_group {
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.footer_beian {
  margin-left:45px;
}
